<% layout('layouts/boilerplate') %>
<h1>Welcome to the Catalogue of the castles in France.</h1>

<h2>This app has been created in Node JS.</h2>
<p>Thanks to its CRUD functionalities, you can add, update or delete your favourite castles in France. Just sign up and you're ready to go.
<p>You can also leave your review for a specific castle which you can delete once you're logged in.
More functionalities to come, like image file upload, maps, emails...</p>
Enjoy!</p>

<p><a href="/castles" class="btn btn-primary">Castles</a></p>