<% layout('layouts/boilerplate') %>
<h1>Welcome to the Catalogue of the castles in France.</h1>
Thanks to the CRUD functionalities, you can add, update or delete your favourite castles in France. Just sign up and you're ready to go.
You can also leave your review which you can delete once you're logged in.
More functionalities to come, like image file upload, maps, emails...
Enjoy! 